.banner {
  background-image: url(../../assets/images/bg/main-bg-90.png);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  padding: 1em 8em;
  z-index: 1;
  justify-content: space-between;
}
.header img {
  width: 200px;
}
.header ul {
  display: flex;
}
.header ul li {
  width: 100px;
  transform: rotate(60deg);
}
.header ul li a {
  color: #b6b6b6;
  font-family: Archivo;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8em;
  letter-spacing: 5px;
  text-align: center;
  transition: 0.2s ease-in;
  opacity: 0.8;
  white-space: nowrap;
}
.header ul li a:hover {
  padding-left: 1em;
  transition: 0.2s ease-in;
  opacity: 1;
  color: #fff;
}
.banner .mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
}
.mainText {
  position: relative;
  margin-left: 8em;
  cursor: crosshair;
}
.banner .fillStrokeText {
  font-family: Archivo;
  font-style: italic;
  font-weight: 700;
  font-size: 11em;
  text-anchor: start;
  stroke-width: 2px;
  stroke: var(--purple-primary);
  fill: var(--purple-primary);
}
.banner .fillStrokeTextWhite {
  stroke: var(--font-primary);
  fill: var(--font-primary);
}
.banner .strokeText {
  font-family: Archivo;
  font-style: italic;
  font-weight: 700;
  font-size: 11em;
  text-anchor: start;
  stroke-width: 2px;
  fill: none;
  stroke: var(--purple-primary);
}
.banner .strokeTextWhite {
  stroke: var(--font-primary);
}
.mainImage {
  position: relative;
  margin-right: -100px;
  cursor: crosshair;
}
.pingImage {
  width: 45%;
  position: absolute;
  right: 0;
  top: 10%;
  margin-right: 80px;
}
.gridImage {
  height: 60%;
}
