#campanha {
  background-image: url(/images/bg/bg-campanha.svg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7em 0;
  width: 100%;
}
#campanha .fillStrokeText {
  font-family: Archivo;
  font-style: italic;
  font-weight: 700;
  font-size: 12em;
  letter-spacing: 6px;
  text-anchor: center;
  stroke-width: 2px;
  stroke: url(#MyGradient);
  fill: url(#MyGradient);
}
#campanha .strokeText {
  font-family: Archivo;
  font-style: italic;
  font-weight: 700;
  font-size: 12em;
  letter-spacing: 6px;
  text-anchor: center;
  stroke-width: 2px;
  fill: none;
  stroke: url(#MyGradient);
}
.campanhaContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
  width: 100%;
  height: 100%;
}
.contentSup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 15em;
}
.contentSup p {
  font-family: Archivo;
  font-style: normal;
  font-weight: lighter;
  font-size: 1.6em;
  line-height: 55px;
  text-align: left;
  width: 640px;
  color: #797979;
  margin-left: 2em;
}
.contentSup div {
  position: relative;
}
.infImages {
  display: flex;
}
.contentSup > div:hover .imageCampanha1 {
  opacity: 1;
  transition: 0.5s ease-in;
}
.contentSup > div:hover .imageFilter1,
.infImages > div:hover .imageFilter1 {
  opacity: 0;
  transition: 0.5s ease-in;
}
.imageFilter1 {
  width: 530px;
  height: 390px;
  transition: 0.5s ease-in;
  opacity: 1;
  position: absolute;
}
.imageCampanha1 {
  transition: 0.5s ease-in;
  opacity: 1;
  width: 530px;
  height: 390px;
}
.imageCampanha2 {
  margin-right: 2em;
}
.imageCampanha2,
.imageCampanha3,
.infImages div img:first-child {
  width: 500px;
  height: 470px;
}
.contentInf {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 4em;
  width: 100%;
}
.contentInf > div {
  margin-right: 26.5em;
}
.statueImg {
  overflow: hidden !important;
  width: 700px;
  position: absolute;
  right: -8em;
}
